<div class="searchBar">
  <form (ngSubmit)="searchItem(f)" #f="ngForm">
    <label for="itemSearch" class="itemLabel">Search for an Item: </label>
    <input type="text" id="itemSearch" class="itemInput" ngModel name="name">
    <button type="submit" class="btn btn-primary" style="margin-right: 10px">Search!</button>
    <button type="button" (click)="getData()" class="btn btn-primary">Show all</button>
  </form>
</div>

<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Calories</th>
        <th>Edit Item</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of menuData">
        <td>{{ data.id }}</td>
        <td>{{ data.item }}</td>
        <td>{{ data['price ($)'] }}</td>
        <td>{{ data['calories (kCal)'] }}</td>
        <td><button (click)="editItem(data)">Edit</button></td>
        <td><button (click)="deleteItem(data.id)">Delete</button></td>
      </tr>
    </tbody>
</table>
<br>
<br>
<router-outlet></router-outlet>


  
