table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Full height viewport */
    padding: 20px;
  }
  
  .itemLabel {
      margin-right: 10px; /* Space between label and input */
      font-weight: bold;
  }
  
  .itemInput {
      flex: 0.1; /* Allows the input to grow if needed */
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px; /* Space between label and input */
  }