<h1>Tell us what you'd like on the menu!</h1>

<div class="form-container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-row">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-input" ngModel name="name">
        </div>
        <div class="form-row" >
            <label for="price" class="form-label">Price</label>
            <input type="number" step="0.01" id="price" class="form-input" ngModel name="price">
        </div>
        <div class="form-row">
            <label for="calories" class="form-label">Calories</label>
            <input type="number" id="calories" class="form-input" ngModel name="calories">
        </div>
        <div class="form-button">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
        </div>
    </form>
</div>
